<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload/title>
        <style>
            td { text-align: center;}
        </style>
</head>

<body>
    <h1>file upload</h1>
    <hr>
    <form action="/file" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>comment</td>
                <td><input type="text" name="comment"></td>
            </tr>
            <tr>
                <td>file</td>
                <td><input type="file" name="image"></td>
            </tr>
            <tr>
                <input type="submit" value="제출">
            </tr>
        </table>
    </form>
</body>
</html>